h1, h2, h3 {
  text-align: center;
}
body{
  background-color: skyblue;
}

img{
  display: block ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

audio {
  margin-left: 50px;
}

video {
  width: 98%;
  height: 200px;
  border-radius: 10px;
}